.minus_btn {
  &:disabled,
  &[data-disabled] {
    border-color: gray;
    background-color: transparent;
  }
}

.pay_btn {
  &:disabled,
  &[data-disabled] {
    border-color: gray;
    background-color: gray;
    opacity: 0.8;
  }
}

.mantine-Tabs-list {
  color: #ffffff;

  .mantine-Tabs-tab {
    &[data-active] {
      color: #31a27c;
    }

    &:not([data-active]):hover {
      color: #bce4d0;
    }

    &:hover {
      background: transparent;
    }
  }
}

.thead {
  tr {
    color: white;
    background: #1e1e1e;
  }

  th {
    color: white;
    background: #1e1e1e;
  }
}

.tbody {
  color: #ffffff;
}
